html{
    background-color: aqua;
}

body{
    background-color: blue;
}

h1{
    color: red;
}

p{
    color: green;
}

img{
    width: 100px;
    height: 100px;
}

.container{
    background-color: red;
}

.container2{
    background-color: blue;
}   

.container3{
    background-color: green;
}

